.attendance__wrapper {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.attendance__group {
    width: 500px;
    height: 500px;
    text-align: center;
    transform: translateY(-10%);
    margin-top: 100px;
}
.attendance-status {
    display: inline-block;
    background-color: #c8c8c8;
    font-size: 14px;
    font-weight: bold;
    color: #696969;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    border-radius: 15px;
    padding: 5px 15px;
    margin-bottom: -10px;
}

.today {
    font-size: 24px;
    margin-bottom: -40px;
}

.clock {
    font-size: 50px;
    font-weight: bold;
}

/* コロンの高さ調整span */
.clock-separator {
    display: inline-block;
    transform: translateY(-0.2em);
    margin: 0 0.05em;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
}

/*「1」の字詰め調整span */
.digit-one {
    display: inline-block;
    width: 0.55em;
    text-align: center;
    margin-left: -5px;
}

.attendance-register {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.attendance__submit-btn {
    width: 170px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    text-indent: 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: auto 30px;
}

.work {
    background-color: black;
    color: white;
}

.work:hover {
    opacity: 0.7;
}

.rest {
    background-color: white;
    color: black;
}

.rest:hover {
    opacity: 0.7;
    color: #696969;
}

.clock-out__message {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    text-indent: 25px;
    margin-top: -20px;
}

.session {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.session-message {
    font-size: 20px;
    letter-spacing: 0.2em;
    animation: fadeOut 4s ease-out 0s forwards;
}

.success {
    color: rgb(0, 138, 201);
}

.error {
    color: rgb(217, 65, 0);
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* タブレット向けブレイクポイント */
@media screen and (max-width: 768px) {
    .attendance__group {
        margin-top: 80px;
    }
    .attendance-register {
        flex-direction: column;
        margin-top: -30px;
    }
    .attendance__submit-btn {
        margin-bottom: 30px;
    }
    .session-message {
        font-size: 16px;
        margin-top: -40px;
    }
}

/* スマートフォン向けブレイクポイント */
@media screen and (max-width: 480px) {
    .attendance__group {
    margin-top: 80px;
    }
}