/* テーブル */
.content {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.detail__table {
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    border-collapse: collapse;
    background-color: white;
}

.col__left {
    width: 35%;
}

.col__right {
    width: 25%;
}

.detail__table-row {
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: solid 2px #f0eff2;
}

.detail__table-row:last-of-type {
    border: none;
    min-height: 80px;
}

.label {
    color: #707070;
    padding-left: 50px;
}

.user-name {
    padding-left: 20px;
}

.reason-text {
    padding-left: 20px;
}

.reason-text span {
    color: #f06464;
}

.parameter {
    text-align: center;
}

.time__input {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 5px;
    border: solid 1px #d7d7d7;
    border-radius: 4px;
    text-align: center;
}

input[type="text"]::placeholder {
    opacity: 0;
}

input[type="text"]:focus::placeholder {
    opacity: 1;
    color: #bfbfbf;
}

.text {
    width: 100%;
    height: 70px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: solid 1px #d7d7d7;
    border-radius: 4px;
    padding: 10px 15px;
}

/* セッションメッセージ */
.message__table-row {
    width: 100%;
}

.error {
    background-color: #f06464;
}

.success {
    background-color: #1db4cb;
}

.error-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message {
    color: white;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    animation: fadeIn 1s ease-out 0s forwards;
}

.status {
    color: #f06464;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 25px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        padding-left: 100px;
    }
    20% {
        opacity: 0.7;
        padding-left: 55px;
    }
    25% {
        opacity: 1;
        padding-left: 50px;
    }
}

/* ボタン */
.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    gap: 20px;
}

.submit__button {
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px 35px;
    cursor: pointer;
}

.update {
    background-color: black;
    border: none;
    color: white;
}

.delete {
    background-color: #f0eff2;
    border: solid 1px #f06464;
    color: #f06464;
    text-decoration: none;
}

.update:hover {
    opacity: 0.5;
}

.delete:hover {
    background-color: #f06464;
    color: white;
}

.delete__request {
    display: inline-block;
    color: #f06464;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.1em;
}

.already__approved {
    display: inline-block;
    background-color: rgb(120, 120, 120);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px 35px;
    margin-top: 0px;
}

/* タブ */
.tab-panel {
    width: 100%;
    margin-top: 10px;
}

.tab-label {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}

.original {
    margin-left: 40px;
}

.pending {
    margin-left: 80px;
}

input[name="tab__name"] {
    display: none;
}

.border {
    border-top: solid 1px black;
    margin-top: 10px;
    margin-bottom: 40px;
}

.original-info,
.pending-info {
    display: none;
}

.original__tab-switch:checked~.original-info,
.pending__tab-switch:checked~.pending-info {
    display: block;
}

.tab-panel input:checked+.tab-label {
    font-weight: bold;
}

/* 削除用モーダル */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 72, 72, 0.5);
}

.modal__inner {
    position: absolute;
    top: 180px;
    left: 50%;
    width: 400px;
    height: 180px;
    border: 2px solid #a7a7a7;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(72, 72, 72, 0.25);
    transform: translate(-50%, -50%);
}

.modal__content {
    position: relative;
    padding: 30px 30px 50px 30px;
    display: grid;
    justify-items: center;
}

.modal__announce {
    font-size: 16px;
    font-weight: bold;
}

.modal__delete-button {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: solid 1px #f06464;
    color: #f06464;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px 35px;
    cursor: pointer;
}

.modal__delete-button:hover {
    background-color: #f06464;
    color: white;
}

.modal__close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    color: #a7a7a7;
    text-decoration: none;
}
/* タブレット向けブレイクポイント */
@media screen and (max-width: 768px) {
    .col__left {
        width: 30%;
    }
    .col__right {
        width: 8%;
    }
    .attendance__table-row {
        height: 30px;
    }
    .label {
        padding-left: 30px;
    }
    .user-name {
        padding-left: 0;
        text-align: center;
    }
    .reason-text {
        padding-left: 0;
        text-align: center;
    }
    .tab-panel {
        margin-top: 10px;
    }
    .original {
        margin-left: 30px;
    }
    .pending {
        margin-left: 50px;
    }
    .border {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .message {
        padding-left: 30px;
    }
    .modal__inner {
        top: 150px;
        width: 350px;
        height: 150px;
    }
    .modal__announce {
        font-size: 14px;
        margin-top: 0px;
    }
    .modal__delete-button {
        font-size: 15px;
    }
    .modal__close-button span{
        display: none;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            padding-left: 80px;
        }
        20% {
            opacity: 0.7;
            padding-left: 35px;
        }
        25% {
            opacity: 1;
            padding-left: 30px;
        }
    }
}

/* スマートフォン向けブレイクポイント */
@media screen and (max-width: 480px) {
    .content {
        margin-top: 5px;
    }
    .detail__table-row {
        height: 40px;
        font-size: 10px;
    }
    .label {
        padding-left: 20px;
    }
    .time__input {
        font-size: 12px;
        padding: 3px;
    }
    .text {
        font-size: 10px;
        padding: 8px 8px;
    }
    .form-buttons {
        margin-top: 25px;
        justify-content: center;
    }
    .submit__button {
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 8px 25px;
        cursor: pointer;
    }
    .already__approved {
        font-size: 14px;
        font-weight: bold;
        padding: 8px 25px;
    }
    .status {
        font-size: 12px;
        margin-top: 10px;
    }
    .tab-panel {
        margin-top: 0;
    }
    .original {
        font-size: 12px;
        margin-left: 20px;
    }
    .pending {
        font-size: 12px;
        margin-left: 30px;
    }
    .border {
        margin-top: 3px;
        margin-bottom: 20px;
    }
    .message {
        font-size: 10px;
        padding-left: 20px;
    }
    .modal__inner {
        top: 85px;
        width: 270px;
        height: 100px;
    }
    .modal__announce {
        margin-top: -15px;
        font-size: 11px;
    }
    .modal__delete-button {
        font-size: 14px;
        padding: 5px 20px;
    }
    .modal__close-button {
        top: 0px;
        right: 10px;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            padding-left: 70px;
        }
        20% {
            opacity: 0.7;
            padding-left: 25px;
        }
        25% {
            opacity: 1;
            padding-left: 20px;
        }
    }
}