.header {
    background-color: black;
    align-items: center;
    padding: 20px 20px;
}

.header-logo {
    width: 300px;
}

.form__field {
    margin: 0 auto;
    width: 500px;
}

.form__heading {
    font-size: 28px;
    margin: 80px auto 50px;
    text-align: center;
}

.input-label {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-window {
    width: 100%;
    border: solid 1px black;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 30px;
}

.submit-button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}

.moving-page {
    display: block;
    color: rgb(76, 168, 254);
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }
    .header-logo {
        width: 200px;
    }
    .form__field {
        width: 70%;
    }
    .form__heading {
        margin: 50px auto 20px;
    }
}

@media screen and (max-width: 480px){
    .header-logo {
        width: 200px;
    }
    .form__field {
        width: 80%;
    }
    .form__heading {
        font-size: 18px;
        margin: 30px auto 10px;
    }
    .input-label {
        font-size: 12px;
    }
    .input-window {
        margin-bottom: 10px;
        border: solid 1px black;
        font-size: 12px;
    }
    .submit-button {
        font-size: 15px;
    }
    .moving-page {
        font-size: 12px;
        margin-top: 10px;
    }
}